*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(34,193,195);
    background: linear-gradient(137deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    height: 100vh;
}

.content{
    display: flex;
    flex-direction: column;
}

button{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    margin: 10px 20px;
    cursor: pointer;
    transition: 1s;
    border: none;
    background: rgba(255,255,255,0.2);
    box-shadow: 0px 5px 30px rgba(0,0,0,0.6);
}

button:hover{
    scale: 1.1;
    transform: translateY(-10px);
}

input{
    background: transparent;
    border: none;
    height: 30px;
    border-bottom: 2px solid rgba(255,255,255,0.2);
    outline: none;
    transition: 1s;
    color: white;
    margin: 10px 20px;
}

input:focus{
    border-bottom: 2px solid rgba(255,255,255,0.5);
    scale: 1.1;
}

.connection{
    display: block;
    text-decoration: none;
    color: white;
    width: 100px;
    text-align: center;
    background: rgba(255,255,255,0.2);
    border-radius: 20px;
    padding: 20px 30px;
    box-shadow: 0px 5px 30px rgba(0,0,0,0.6);
}